body {
  background: #6a6a70;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.posts-list {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.post-item {
  background-color: rgb(235, 235, 228);
  padding: 15px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.comment-btn {
  cursor: pointer;
  width: 110px;
  background-color: transparent;
  border: 1px solid #6a6a70;
  border-radius: 8px;
  padding: 10px;
}

.send-comment-button,
.reply-btn {
  cursor: pointer;
  width: 110px;
  background-color: transparent;
  border: 1px solid #6a6a70;
  border-radius: 8px;
  padding: 10px;
}

.reply-on-comment-btn {
  cursor: pointer;
  width: 50px;
  background-color: transparent;
  border: 1px solid #6a6a70;
  border-radius: 8px;
  padding: 5px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 40px;
}

.replies-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 80px;
  width: 700px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.add-comment-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 30px;
}

input,
textarea {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
}

.comment-item,
.reply-item {
  position: relative;
  width: 100%;
}

.delete-comment-btn,
.delete-reply-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  color: red;
  background-color: transparent;
}
