body {
  background: #8fbc8f;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.form-add-todo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-todo {
  width: 300px;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  outline: none;
}

.add-todo-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #ffdab9;
  cursor: pointer;
}

.add-todo-btn:hover,
.add-todo-btn:focus {
  background: #ffdab9c6;
}

.todo-list {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-icon {
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.edit-btn {
  width: 60px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #f4a460;
  padding: 5px;
  cursor: pointer;
}

.edit-btn:hover,
.edit-btn:focus {
  background: #f4a560a1;
}

.delete-btn {
  width: 60px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #ff0000;
  padding: 5px;
  cursor: pointer;
}

.delete-btn:hover,
.delete-btn:focus {
  background: #ff0000b3;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.filter-item button {
  width: 130px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #ffdab9;
  padding: 15px;
  cursor: pointer;
}

.filter-item button:hover,
.filter-item button:focus {
  background: #ffdab9c6;
}

.checkbox-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #8fbc8f;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.edit-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-input {
  width: 300px;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  outline: none;
}

.edit-input input:focus,
.edit-input input:focus-visible {
  outline: none;
}

.save-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #ffdab9;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #ff0000;
  cursor: pointer;
}
